
<div class = "text-center mt-5 fs-3">
<p> <%=current_user.first_name%> 
<%= current_user.last_name %></p>

<p><%=current_user.email%>  </p>
<p><%=current_user.description%> </p>

<p><%= link_to "Edit email / password", edit_user_registration_path,  class:"btn btn-outline-warning"%>
</p>
</div>

