<div class=welcome>

<div class="text-center">

<H1 class="text-center mb-4 mt-0">Bienvenue <strong><%=@name%></strong> sur Eventbrite.</H1>

    <H5 class="text-center mb-4 mt-4">  Les derniers évenements. </H5>

    <a type="button" href="/events/new" class="btn btn-warning btn-lg">Créer ton evenement</a>
    </div>
    
<div class="row m-4">
    <% @event.each_with_index do |a, i|%>
    <br>
    <div class="col-sm-4 mt-4 ">

        <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title"> Title : <%=a.title%> </h5>
            <br>
            <br>
            <p class="card-text"> <%= a.price %> € </p>
            <br>
            <br>
            <p>description : <%= a.description%></p>
            
             

            <a href= "/events/<%=a.id%>/" class="btn btn-outline-warning">En savoir plus</a>
            
        </div>
        </div>
    </div>
 <% end %>
</div>
</div>



